#  Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. MatPlotlib
3. ggplot

| Data Science Tools |
|--------------------|
| VScode |
| RStudio |
| JupyterNotebook |

### Below are a few examples of evaluating arithmetic expressions in Python
# Addition
print(4+5) # Result(9)
# Substraction
print(10-3) #Result(7)

In [16]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [18]:
#  This will convert 200 minutes to hours by diving by 60
minutes=200
hours=minutes/60
print(hours)

3.3333333333333335

# Objectives:
Popular languages for Data science
popular_languages = {'R','Python','SQL','Julia','Scala'}
print(popular_languages)

## Author
EMAN ZAHRA